<html>
    <head>
        <title>
            Showing Result
        </title>
    </head>
    <body>
        <h1>Name Of Student ===<%=name%></h1>
        <h1>Math===<%=math%></h1>
        <h1>English====<%=eng%></h1>
        <h1>Science===<%=science%></h1>
        <h1>SocialStudies===<%=sst%></h1>
        <h1>Hindi====<%=hindi%></h1>
    </body>
</html>